#dexscreener-embed {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 50%;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
  }
}
